node_modules
dist
build
.env

# Sensitive - Android
google-services.json
*.keystore
*.jks

# Sensitive - Credentials
credentials.json
config.prod.js
www/js/cloud/firebase-init.js
www/js/cloud/firebase-config.js